In [8]:
import pandas as pd

I will be using two more packages, pickle which allows to easily save data to disk and re which allows us to use regular expression syntax. Finally, for nicer table formatting, we import IPython.display.

In [9]:
import pickle
import re
from IPython.display import display, HTML

In [10]:
# defining a dictioanary below for Census data. Keys will be census years.

Census_raw = {}

In [11]:
for year in range(1790,2020,10):
    Census_raw[year]=pd.read_html('https://en.wikipedia.org/wiki/{}_United_States_Census'.format(year))

In [12]:
Census_raw[2019]= pd.read_html('https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population', header = [1])
display(Census[2019].head(1))

NameError: name 'Census' is not defined

In [ ]:
if len(Census_raw.keys()):
    with open('rawdata.pickle','wb') as handle:
        pickle.dump(Census_raw, handle, protocol = pickle.HIGHEST_PROTOCOL)
else:
    with open('rawdata.pickle', 'rb') as handle:
        Census_raw = pickle.load(handle)

# Data Cleaning
All Census pages contain several tables but we are only interested in those tables that contain State (or District as in 1800) as one of their columns. Most pages also have a seperate statistic on largest cities and we thus ignore all tables that have City as one of their columns.

In [13]:

Census = {}
for key in Census_raw.keys():
    Census[key] = [table for table in Census_raw[key] if ('State' in table.columns) or (('District' in table.columns))]
    if len(Census[key]) > 1:
        Census[key] = [table for table in Census[key] if ('City' not in table.columns)][0]
    else:
        Census[key] = Census[key][0]

In [14]:
for key in Census.keys():
    print("Displaying values for {}".format(key))
    display(Census[key].head(1))

Displaying values for 1790

,State,"Free white males of 16 years and upward, including heads of families",Free white males under 16 years,"Free white females, including heads of families",All other free persons,Slaves,Enslaved % of state population,Total,% of US population
0,Vermont,22435,22328,40505,255,16[a][7],nil,"85,539[b]",2.2%

Displaying values for 1800

,District,"Free white males under age 10,",Free white males age 10–16,Free white males age 16–26,Free white males age 26–45,Free white males over age 45,Free white females under age 10,Free white females age 10–16,Free white females age 16–26,Free white females age 26–45,Free white females over age 45,All other free persons,Slaves,Total
0,New Hampshire,30694,14881,16379,17589,11715,29871,14193,17153,18381,12142,852,8,183858

Displaying values for 1810

  Rank     State  Population
0   01  New York      959049

Displaying values for 1820

  Rank     State  Population
0   01  New York     1532981

Displaying values for 1830

  Rank     State  Population
0   01  New York     1918608

Displaying values for 1840

  Rank     State  Population
0   01  New York     2428921

Displaying values for 1850

  Rank     State  Population
0   01  New York     3097394

Displaying values for 1860

  Rank     State  Population  Free Population Slave Population
0   01  New York     3880735          3880735                0

Displaying values for 1870

  Rank     State  Population
0   01  New York     4382759

Displaying values for 1880

  Rank     State  Population
0   01  New York     5082871

Displaying values for 1890

  Rank     State  Population
0   01  New York     6003174

Displaying values for 1900

  Rank     State  Population
0   01  New York     7268894

Displaying values for 1910

  Rank     State  Population
0    1  New York     9113614

Displaying values for 1920

  Rank     State  Population
0    1  New York    10385227

Displaying values for 1930

  Rank     State  Population
0    1  New York    12588066

Displaying values for 1940

  Rank     State  Population      Region
0    1  New York    13479142  North East

Displaying values for 1950

  Rank     State  Population
0    1  New York    14830192

Displaying values for 1960

      State Rank Population Rank Change
0  New York    2   16827000         NaN

Displaying values for 1970

  Rank       State  Population
0    1  California    19953134

Displaying values for 1980

  Rank       State  Population
0    1  California    23667902

Displaying values for 1990

,Rank,State,Population as of1980 Census,Population as of1990 Census,Change,Percentchange
0,1,California,23667902,29760021,6092119,25.7%

Displaying values for 2000

,Rank,State,Population as of1990 Census[4],Population as of2000 Census[4],Change,Percentchange
0,1,California,29760021,33871648,4111627,13.8%

Displaying values for 2010

,Rank,State,Population as of2000 Census,Population as of2010 Census[51],Change,Percentchange
0,1,California,33871648,37253956,3382308,10.0%

Displaying values for 2019

,Current,2010,State,"Estimate, April 1, 2019[5]","April 1, 2010[6]",Percent[note 3],Absolute,Total U.S. House of Representatives Seats,"Estimated population per electoral vote, 2019[note 1]","Estimated, 2019",2010.1,"Percent of the total U.S. population, 2018[note 2]"
0,1.0,1.0,California,39512223,37254523,6.1%,"+2,257,700",53,718404,745514,702885,11.96%

In [15]:
Census[1790].rename(columns ={'Total':'Population'}, inplace = True)
Census[1800].rename(columns= {'Total': 'Population','District':'State'}, inplace = True)

In [16]:
for year in range (1990,2020,10):
    d = {'Population as of{}.*'.format(year): 'Population'}
    Census[year].columns = Census[year].columns.to_series().replace(d, regex= True)
    Census[2019].columns = Census[2019].columns.to_series().replace({'Estimate, April 1, 2019.*': 'Population'}, regex= True)

In [17]:
 for key in Census.keys():
    print("Displaying values for {}".format(key))
    Census[key] = Census[key][['State','Population']]
    Census[key].loc[:,'Population']=Census[key].loc[:,'Population'].apply(
        #lambda s: int(re.sub(r'\]\[].*','', str(s)).replace(',','')))
        lambda s: int(re.sub('[^0-9]','', str(s))))
    display(Census[key].head(8))

Displaying values for 1790

/Users/nitinsharma/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:635: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

           State  Population
0        Vermont       85539
1  New Hampshire      141885
2          Maine       96540
3  Massachusetts     3787878
4   Rhode Island       68825
5    Connecticut      237946
6       New York      340120
7     New Jersey      184139

Displaying values for 1800

                                               State  Population
0                                      New Hampshire      183858
1                                      Massachusetts      422845
2                                              Maine      151719
3                                        Connecticut      251002
4                                            Vermont      154465
5                                       Rhode Island       69122
6  New York (excluding Duchess, Ulster, Orange co...      484065
7        New York (Duchess, Ulster, Orange counties)      101985

Displaying values for 1810

/Users/nitinsharma/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

            State  Population
0        New York      959049
1        Virginia      877683
2    Pennsylvania      810091
3  North Carolina      556526
4   Massachusetts      472040
5  South Carolina      415115
6        Kentucky      406511
7        Maryland      380546

Displaying values for 1820

            State  Population
0        New York     1532981
1    Pennsylvania     1049458
2        Virginia      938261
3  North Carolina      638829
4            Ohio      581434
5        Kentucky      564317
6   Massachusetts      523287
7  South Carolina      502741

Displaying values for 1830

            State  Population
0        New York     1918608
1    Pennsylvania     1348233
2        Virginia     1044054
3            Ohio      937903
4  North Carolina      737987
5        Kentucky      687917
6       Tennessee      681904
7   Massachusetts      610408

Displaying values for 1840

            State  Population
0        New York     2428921
1    Pennsylvania     1724033
2            Ohio     1519467
3        Virginia     1025227
4       Tennessee      829210
5        Kentucky      779828
6  North Carolina      753419
7   Massachusetts      737699

Displaying values for 1850

           State  Population
0       New York     3097394
1   Pennsylvania     2311786
2           Ohio     1980329
3       Virginia     1119348
4      Tennessee     1002717
5  Massachusetts      994514
6        Indiana      988416
7       Kentucky      982405

Displaying values for 1860

           State  Population
0       New York     3880735
1   Pennsylvania     2906215
2           Ohio     2339511
3       Illinois     1711951
4       Virginia     1596318
5        Indiana     1350428
6  Massachusetts     1231066
7       Missouri     1182012

Displaying values for 1870

           State  Population
0       New York     4382759
1   Pennsylvania     3521951
2           Ohio     2665260
3       Illinois     2539891
4       Missouri     1721295
5        Indiana     1680637
6  Massachusetts     1457351
7       Kentucky     1321011

Displaying values for 1880

           State  Population
0       New York     5082871
1   Pennsylvania     4282891
2           Ohio     3198062
3       Illinois     3077871
4       Missouri     2168380
5        Indiana     1978301
6  Massachusetts     1783085
7       Kentucky     1648690

Displaying values for 1890

           State  Population
0       New York     6003174
1   Pennsylvania     5258113
2       Illinois     3826352
3           Ohio     3672329
4       Missouri     2679185
5  Massachusetts     2238947
6          Texas     2235527
7        Indiana     2192404

Displaying values for 1900

           State  Population
0       New York     7268894
1   Pennsylvania     6302115
2       Illinois     4821550
3           Ohio     4157545
4       Missouri     3106665
5          Texas     3048710
6  Massachusetts     2805346
7        Indiana     2516462

Displaying values for 1910

           State  Population
0       New York     9113614
1   Pennsylvania     7665111
2       Illinois     5638591
3           Ohio     4767121
4          Texas     3896542
5  Massachusetts     3366416
6       Missouri     3293335
7       Michigan     2810173

Displaying values for 1920

           State  Population
0       New York    10385227
1   Pennsylvania     8720017
2       Illinois     6485280
3           Ohio     5759394
4          Texas     4663228
5  Massachusetts     3852356
6       Michigan     3668412
7     California     3426861

Displaying values for 1930

           State  Population
0       New York    12588066
1   Pennsylvania     9631350
2       Illinois     7630654
3           Ohio     6646697
4          Texas     5824715
5     California     5677251
6       Michigan     4842325
7  Massachusetts     4249614

Displaying values for 1940

           State  Population
0       New York    13479142
1   Pennsylvania     9900180
2       Illinois     7897241
3           Ohio     6907612
4     California     6907387
5          Texas     6414824
6       Michigan     5256106
7  Massachusetts     4316721

Displaying values for 1950

          State  Population
0      New York    14830192
1    California    10586223
2  Pennsylvania    10498012
3      Illinois     8712176
4          Ohio     7946627
5         Texas     7748000
6      Michigan     6421000
7    New Jersey     4860000

Displaying values for 1960

          State  Population
0      New York    16827000
1    California     2085000
2  Pennsylvania    11343000
3      Illinois      101130
4          Ohio     9739000
5         Texas     9617000
6      Michigan     7848000
7    New Jersey     6099000

Displaying values for 1970

          State  Population
0    California    19953134
1      New York    18241266
2  Pennsylvania    11793909
3         Texas    11196730
4      Illinois    11113976
5          Ohio    10652017
6      Michigan     8875083
7    New Jersey     7168164

Displaying values for 1980

          State  Population
0    California    23667902
1      New York    17558072
2         Texas    14229191
3  Pennsylvania    11863895
4      Illinois    11426518
5          Ohio    10797630
6       Florida     9746324
7      Michigan     9262078

Displaying values for 1990

          State  Population
0    California    29760021
1      New York    17990455
2         Texas    16986510
3       Florida    12937926
4  Pennsylvania    11881643
5      Illinois    11430602
6          Ohio    10847115
7      Michigan     9295297

Displaying values for 2000

          State  Population
0    California    33871648
1         Texas    20851820
2      New York    18976457
3       Florida    15982378
4      Illinois    12419293
5  Pennsylvania    12281054
6          Ohio    11353140
7      Michigan     9938444

Displaying values for 2010

          State  Population
0    California    37253956
1         Texas    25145561
2      New York    19378102
3       Florida    18801310
4      Illinois    12830632
5  Pennsylvania    12702379
6          Ohio    11536504
7      Michigan     9883640

Displaying values for 2019

          State  Population
0    California    39512223
1         Texas    28995881
2       Florida    21477737
3      New York    19453561
4  Pennsylvania    12801989
5      Illinois    12671821
6          Ohio    11689100
7       Georgia    10617423

In [18]:
 display(Census[1800].head(10))
#two rows for NY, values shoulbe be aggregated into 1 row

                                               State  Population
0                                      New Hampshire      183858
1                                      Massachusetts      422845
2                                              Maine      151719
3                                        Connecticut      251002
4                                            Vermont      154465
5                                       Rhode Island       69122
6  New York (excluding Duchess, Ulster, Orange co...      484065
7        New York (Duchess, Ulster, Orange counties)      101985
8                                         New Jersey      211149
9                    Pennsylvania (eastern district)      327979

In [27]:
Census[key].to_csv('States.csv')

States = pd.read_csv('States.csv')['State']
StatesList = States.tolist()

if isinstance(Census[1790].index[0], int):
    for key in Census.keys():
        for i, row in Census[key].iterrows():
            for State in StatesList:
                if State in row['State']:
                    Census[key].loc[i,'State'] = State  
        Census[key] = Census[key][Census[key]['State'].isin(StatesList)]
        Census[key] = Census[key].groupby(['State'],squeeze=True).sum()
        Census[key].rename(columns={'Population':str(key)},inplace=True)
display(Census[1800].head(14))

                        1800
State
Connecticut           251002
Delaware               64273
District of Columbia  323297
Georgia               162686
Indiana                 5641
Kentucky              220959
Maine                 151719
Maryland                4276
Massachusetts         422845
Mississippi             8850
New Hampshire         183858
New Jersey            211149
New York              586050
North Carolina        478103

In [25]:
pd.read_csv('States.csv')

    Unnamed: 0                                        State  Population
0            0                                   California    39512223
1            1                                        Texas    28995881
2            2                                      Florida    21477737
3            3                                     New York    19453561
4            4                                 Pennsylvania    12801989
5            5                                     Illinois    12671821
6            6                                         Ohio    11689100
7            7                                      Georgia    10617423
8            8                               North Carolina    10488084
9            9                                     Michigan     9986857
10          10                                   New Jersey     8882190
11          11                                     Virginia     8535519
12          12                                   Washington     7614893
13          13                                      Arizona     7278717
14          14                                Massachusetts     6949503
15          15                                    Tennessee     6833174
16          16                                      Indiana     6732219
17          17                                     Missouri     6137428
18          18                                     Maryland     6045680
19          19                                    Wisconsin     5822434
20          20                                     Colorado     5758736
21          21                                    Minnesota     5639632
22          22                               South Carolina     5148714
23          23                                      Alabama     4903185
24          24                                    Louisiana     4648794
25          25                                     Kentucky     4467673
26          26                                       Oregon     4217737
27          27                                     Oklahoma     3956971
28          28                                  Connecticut     3565287
29          29                                         Utah     3205958
30          30                                         Iowa     3155070
31          31                                  Puerto Rico     3193694
32          32                                       Nevada     3080156
33          33                                     Arkansas     3017825
34          34                                  Mississippi     2976149
35          35                                       Kansas     2913314
36          36                                   New Mexico     2096829
37          37                                     Nebraska     1934408
38          38                                        Idaho     1792065
39          39                                West Virginia     1787147
40          40                                       Hawaii     1415872
41          41                                New Hampshire     1359711
42          42                                        Maine     1344212
43          43                                      Montana     1068778
44          44                                 Rhode Island     1059361
45          45                                     Delaware      973764
46          46                                 South Dakota      884659
47          47                                 North Dakota      762062
48          48                                       Alaska      731545
49          49                         District of Columbia      705749
50          50                                      Vermont      623989
51          51                                      Wyoming      578759
52          52                                         Guam      165718
53          53                          U.S. Virgin Islands      104914
54          54                               American Samoa       55641
55          55                     Northern Mariana Islands       55194
56          56                     Contiguous United States   325386357
57          57                             The fifty states   327533795
58          58                          Fifty states + D.C.   328239523
59          59  Total U.S. (including D.C. and territories)   331814684

In [32]:

result_df = pd.DataFrame(States).set_index('State')
for key in Census.keys():
    result_df = result_df.add(Census[key],fill_value=0)
result_df.to_csv('State_Census_Historical.csv')
result_df.tail(5)

,1790,1800,1810,1820,1830,1840,1850,1860,1870,1880,...,1930,1940,1950,1960,1970,1980,1990,2000,2010,2019
State,,,,,,,,,,,,,,,,,,,,,
Virginia,7476108.0,880200.0,877683.0,938261.0,1044054.0,1025227.0,1119348.0,1596318.0,1225163.0,1542180.0,...,2421851.0,2677773.0,3262000.0,3978000.0,4648494.0,5346818.0,6187358.0,7078515.0,8001024.0,8535519.0
Washington,NaN,NaN,NaN,NaN,NaN,NaN,1201.0,11594.0,23955.0,98268.0,...,1563396.0,1736191.0,2386000.0,2860000.0,3409169.0,4132156.0,4866692.0,5894121.0,6724540.0,7614893.0
West Virginia,NaN,NaN,105469.0,136808.0,176924.0,224537.0,302313.0,NaN,442014.0,648936.0,...,1729205.0,1961974.0,2006000.0,1857000.0,1744237.0,1949644.0,1793477.0,1808344.0,1852994.0,1787147.0
Wisconsin,NaN,NaN,NaN,1444.0,3635.0,30945.0,305391.0,775881.0,1054670.0,1399750.0,...,2939006.0,3137587.0,3449000.0,3964000.0,4417933.0,4705767.0,4891769.0,5363675.0,5686986.0,5822434.0
Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9118.0,32610.0,...,225565.0,250742.0,292000.0,338000.0,332416.0,469557.0,453588.0,493782.0,563626.0,578759.0

In [33]:
#pd.read_csv('States.csv')
pd.read_csv('State_Census_Historical.csv')

,State,1790,1800,1810,1820,1830,1840,1850,1860,1870,...,1930,1940,1950,1960,1970,1980,1990,2000,2010,2019
0,Alabama,NaN,NaN,9046.0,127901.0,309527.0,590756.0,771623.0,964201.0,996992.0,...,2646248.0,2832961.0,3060000.0,3273000.0,3444165.0,3893888.0,4040587.0,4447100.0,4779736.0,4903185.0
1,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59278.0,72524.0,138000.0,200000.0,302173.0,401851.0,550043.0,626932.0,710231.0,731545.0
2,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55641.0
3,Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9658.0,...,435573.0,499261.0,756000.0,1318000.0,1772482.0,2718215.0,3665228.0,5130632.0,6392017.0,7278717.0
4,Arkansas,NaN,NaN,1062.0,14273.0,30388.0,97574.0,209897.0,435450.0,484471.0,...,1854482.0,1949387.0,1906000.0,1788000.0,1923295.0,2286435.0,2350725.0,2673400.0,2915918.0,3017825.0
5,California,NaN,NaN,NaN,NaN,NaN,NaN,92597.0,379994.0,560247.0,...,5677251.0,6907387.0,10586223.0,2085000.0,19953134.0,23667902.0,29760021.0,33871648.0,37253956.0,39512223.0
6,Colorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34277.0,39864.0,...,1035791.0,1123296.0,1337000.0,1758000.0,2207259.0,2889964.0,3294394.0,4301261.0,5029196.0,5758736.0
7,Connecticut,237946.0,251002.0,262042.0,275202.0,297675.0,309978.0,370792.0,460147.0,537454.0,...,1606903.0,1709242.0,2007280.0,2548000.0,3032217.0,3107576.0,3287116.0,3405565.0,3574097.0,3565287.0
8,Contiguous United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325386357.0
9,Delaware,59094.0,64273.0,72674.0,72749.0,76748.0,78085.0,91532.0,112216.0,125015.0,...,238380.0,266505.0,321000.0,449000.0,548104.0,594338.0,666168.0,783600.0,897934.0,973764.0
10,District of Columbia,NaN,323297.0,15471.0,23336.0,30261.0,33745.0,51687.0,75080.0,131700.0,...,486869.0,663091.0,814000.0,762000.0,756510.0,638333.0,606900.0,572059.0,601723.0,705749.0
11,Fifty states + D.C.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,328239523.0
12,Florida,NaN,NaN,NaN,NaN,34730.0,54477.0,87445.0,140424.0,187748.0,...,1468211.0,1897414.0,2821000.0,4951560.0,6789443.0,9746324.0,12937926.0,15982378.0,18801310.0,21477737.0
13,Georgia,82548.0,162686.0,251407.0,340989.0,516823.0,691392.0,906185.0,1057286.0,1184109.0,...,2908506.0,3123723.0,3451000.0,3949000.0,4589575.0,5463105.0,6478216.0,8186453.0,9687653.0,10617423.0
14,Guam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165718.0
15,Hawaii,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,368336.0,423330.0,491000.0,642000.0,769913.0,964691.0,1108229.0,1211537.0,1360301.0,1415872.0
16,Idaho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14999.0,...,445032.0,524873.0,592000.0,671000.0,713008.0,943935.0,1006749.0,1293953.0,1567582.0,1792065.0
17,Illinois,NaN,NaN,12282.0,55211.0,157445.0,476183.0,851470.0,1711951.0,2539891.0,...,7630654.0,7897241.0,8712176.0,101130.0,11113976.0,11426518.0,11430602.0,12419293.0,12830632.0,12671821.0
18,Indiana,NaN,5641.0,24520.0,147178.0,343031.0,685866.0,988416.0,1350428.0,1680637.0,...,3238503.0,3427796.0,3952000.0,4677000.0,5193669.0,5490224.0,5544159.0,6080485.0,6483802.0,6732219.0
19,Iowa,NaN,NaN,NaN,NaN,NaN,43112.0,192214.0,674913.0,1194020.0,...,2470939.0,2538268.0,2621000.0,2761000.0,2825041.0,2913808.0,2776755.0,2926324.0,3046355.0,3155070.0
20,Kansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107206.0,364399.0,...,1880999.0,1801028.0,1915000.0,2178000.0,2249071.0,2363679.0,2477574.0,2688418.0,2853118.0,2913314.0
21,Kentucky,73677.0,220959.0,406511.0,564317.0,687917.0,779828.0,982405.0,1155684.0,1321011.0,...,2614589.0,2845627.0,2957000.0,3047000.0,3219311.0,3660777.0,3685296.0,4041769.0,4339367.0,4467673.0
22,Louisiana,NaN,NaN,76556.0,153407.0,215739.0,352411.0,517762.0,708002.0,726915.0,...,2101593.0,2363880.0,2701000.0,3270000.0,3643180.0,4205900.0,4219973.0,4468976.0,4533372.0,4648794.0
23,Maine,96540.0,151719.0,228705.0,298335.0,399455.0,501793.0,583169.0,628279.0,626915.0,...,797423.0,847226.0,911000.0,974000.0,993663.0,1124660.0,1227928.0,1274923.0,1328361.0,1344212.0
24,Maryland,319728.0,4276.0,380546.0,407350.0,447040.0,470019.0,583034.0,687049.0,780894.0,...,1631526.0,1821244.0,2376000.0,3116000.0,3922399.0,4216975.0,4781468.0,5296486.0,5773552.0,6045680.0
25,Massachusetts,3787878.0,422845.0,472040.0,523287.0,610408.0,737699.0,994514.0,1231066.0,1457351.0,...,4249614.0,4316721.0,4690000.0,5167000.0,5689170.0,5737037.0,6016425.0,6349097.0,6547629.0,6949503.0
26,Michigan,NaN,NaN,4762.0,7452.0,28004.0,212267.0,397654.0,749113.0,1184059.0,...,4842325.0,5256106.0,6421000.0,7848000.0,8875083.0,9262078.0,9295297.0,9938444.0,9883640.0,9986857.0
27,Minnesota,NaN,NaN,NaN,NaN,NaN,NaN,6077.0,172023.0,439706.0,...,2563953.0,2792300.0,2995000.0,3426000.0,3805069.0,4075970.0,4375099.0,4919479.0,5303925.0,5639632.0
28,Mississippi,NaN,8850.0,31306.0,75448.0,136621.0,375651.0,606526.0,791305.0,827922.0,...,2009821.0,2183796.0,2169000.0,2180000.0,2216912.0,2520638.0,2573216.0,2844658.0,2967297.0,2976149.0
29,Missouri,NaN,NaN,19783.0,66586.0,140455.0,383702.0,682044.0,1182012.0,1721295.0,...,3629367.0,3784664.0,3946000.0,4331000.0,4677399.0,4916686.0,5117073.0,5595211.0,5988927.0,6137428.0
30,Montana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20595.0,...,537606.0,559456.0,598000.0,678000.0,694409.0,786690.0,799065.0,902195.0,989415.0,1068778.0
31,Nebraska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28841.0,122993.0,...,1377963.0,1315834.0,1324000.0,1414000.0,1483791.0,1569825.0,1578385.0,1711263.0,1826341.0,1934408.0
32,Nevada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6848.0,42491.0,...,91058.0,110247.0,162000.0,280000.0,488738.0,800493.0,1201833.0,1998257.0,2700551.0,3080156.0
33,New Hampshire,141885.0,183858.0,214360.0,244161.0,269328.0,284574.0,317976.0,326064.0,318300.0,...,465293.0,491524.0,531000.0,609000.0,737681.0,920610.0,1109252.0,1235786.0,1316470.0,1359711.0
34,New Jersey,184139.0,211149.0,245555.0,277575.0,320823.0,373306.0,489555.0,672035.0,906096.0,...,4041334.0,4160165.0,4860000.0,6099000.0,7168164.0,7364823.0,7730188.0,8414350.0,8791894.0,8882190.0
35,New Mexico,NaN,NaN,NaN,NaN,NaN,NaN,61547.0,93514.0,91874.0,...,423317.0,531818.0,687000.0,958000.0,1016000.0,1302894.0,1515069.0,1819046.0,2059179.0,2096829.0
36,New York,340120.0,586050.0,959049.0,1532981.0,1918608.0,2428921.0,3097394.0,3880735.0,4382759.0,...,12588066.0,13479142.0,14830192.0,16827000.0,18241266.0,17558072.0,17990455.0,18976457.0,19378102.0,19453561.0
37,North Carolina,393751.0,478103.0,556526.0,638829.0,737987.0,753419.0,869039.0,992622.0,1071361.0,...,3170276.0,3571623.0,4060000.0,4563000.0,5082059.0,5881766.0,6628637.0,8049313.0,9535483.0,10488084.0
38,North Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2405.0,...,680845.0,641935.0,616000.0,634000.0,617761.0,652717.0,638800.0,642200.0,672591.0,762062.0
39,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55194.0
40,Ohio,NaN,NaN,230760.0,581434.0,937903.0,1519467.0,1980329.0,2339511.0,2665260.0,...,6646697.0,6907612.0,7946627.0,9739000.0,10652017.0,10797630.0,10847115.0,11353140.0,11536504.0,11689100.0
41,Oklahoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2396040.0,2336434.0,2193000.0,2333000.0,2559253.0,3025290.0,3145585.0,3450654.0,3751351.0,3956971.0
42,Oregon,NaN,NaN,NaN,NaN,NaN,NaN,12093.0,52465.0,90923.0,...,953786.0,1089684.0,1532000.0,1773000.0,2091385.0,2633105.0,2842321.0,3421399.0,3831074.0,4217737.0
43,Pennsylvania,434373.0,602545.0,810091.0,1049458.0,1348233.0,1724033.0,2311786.0,2906215.0,3521951.0,...,9631350.0,9900180.0,10498012.0,11343000.0,11793909.0,11863895.0,11881643.0,12281054.0,12702379.0,12801989.0
44,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3193694.0
45,Rhode Island,68825.0,69122.0,76931.0,83059.0,97199.0,108830.0,147545.0,174620.0,217353.0,...,687497.0,713346.0,779000.0,857000.0,949723.0,947154.0,1003464.0,1048319.0,1052567.0,1059361.0
46,South Carolina,249073.0,345591.0,415115.0,502741.0,581185.0,594398.0,668507.0,703708.0,705606.0,...,1738765.0,1899804.0,2119000.0,2392000.0,2590516.0,3121820.0,3486703.0,4012012.0,4625364.0,5148714.0
47,South Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11776.0,...,692849.0,642961.0,652000.0,682000.0,666257.0,690768.0,696004.0,754844.0,814180.0,884659.0
48,Tennessee,NaN,NaN,261727.0,422813.0,681904.0,829210.0,1002717.0,1109801.0,1258520.0,...,2616556.0,2915841.0,3304000.0,3573000.0,3924164.0,4591120.0,4877185.0,5689283.0,6346105.0,6833174.0
49,Texas,NaN,NaN,NaN,NaN,NaN,NaN,212592.0,604215.0,818579.0,...,5824715.0,6414824.0,7748000.0,9617000.0,11196730.0,14229191.0,16986510.0,20851820.0,25145561.0,28995881.0
50,The fifty states,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327533795.0
51,Total U.S. (including D.C. and territories),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,331814684.0
52,U.S. Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104914.0
53,Utah,NaN,NaN,NaN,NaN,NaN,NaN,11380.0,40273.0,86336.0,...,507847.0,550310.0,696000.0,896000.0,1059273.0,1461037.0,1722850.0,2233169.0,2763885.0,3205958.0
54,Vermont,85539.0,154465.0,217713.0,235764.0,280652.0,291948.0,314120.0,315098.0,330551.0,...,359611.0,359231.0,377000.0,391000.0,444732.0,511456.0,562758.0,608827.0,625741.0,623989.0
55,Virginia,7476108.0,880200.0,877683.0,938261.0,1044054.0,1025227.0,1119348.0,1596318.0,1225163.0,...,2421851.0,2677773.0,3262000.0,3978000.0,4648494.0,5346818.0,6187358.0,7078515.0,8001024.0,8535519.0
56,Washington,NaN,NaN,NaN,NaN,NaN,NaN,1201.0,11594.0,23955.0,...,1563396.0,1736191.0,2386000.0,2860000.0,3409169.0,4132156.0,4866692.0,5894121.0,6724540.0,7614893.0
57,West Virginia,NaN,NaN,105469.0,136808.0,176924.0,224537.0,302313.0,NaN,442014.0,...,1729205.0,1961974.0,2006000.0,1857000.0,1744237.0,1949644.0,1793477.0,1808344.0,1852994.0,1787147.0
58,Wisconsin,NaN,NaN,NaN,1444.0,3635.0,30945.0,305391.0,775881.0,1054670.0,...,2939006.0,3137587.0,3449000.0,3964000.0,4417933.0,4705767.0,4891769.0,5363675.0,5686986.0,5822434.0
59,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9118.0,...,225565.0,250742.0,292000.0,338000.0,332416.0,469557.0,453588.0,493782.0,563626.0,578759.0

In [39]:
result_df.interpolate(axis = 1,inplace = True )
result_df.to_csv('State_Census_Historical.csv')
result_df.tail()

,1790,1800,1810,1820,1830,1840,1850,1860,1870,1880,...,1930,1940,1950,1960,1970,1980,1990,2000,2010,2019
State,,,,,,,,,,,,,,,,,,,,,
Virginia,7476108.0,880200.0,877683.0,938261.0,1044054.0,1025227.0,1119348.0,1596318.0,1225163.0,1542180.0,...,2421851.0,2677773.0,3262000.0,3978000.0,4648494.0,5346818.0,6187358.0,7078515.0,8001024.0,8535519.0
Washington,NaN,NaN,NaN,NaN,NaN,NaN,1201.0,11594.0,23955.0,98268.0,...,1563396.0,1736191.0,2386000.0,2860000.0,3409169.0,4132156.0,4866692.0,5894121.0,6724540.0,7614893.0
West Virginia,NaN,NaN,105469.0,136808.0,176924.0,224537.0,302313.0,372163.5,442014.0,648936.0,...,1729205.0,1961974.0,2006000.0,1857000.0,1744237.0,1949644.0,1793477.0,1808344.0,1852994.0,1787147.0
Wisconsin,NaN,NaN,NaN,1444.0,3635.0,30945.0,305391.0,775881.0,1054670.0,1399750.0,...,2939006.0,3137587.0,3449000.0,3964000.0,4417933.0,4705767.0,4891769.0,5363675.0,5686986.0,5822434.0
Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9118.0,32610.0,...,225565.0,250742.0,292000.0,338000.0,332416.0,469557.0,453588.0,493782.0,563626.0,578759.0

In [38]:
pd.read_csv('State_Census_Historical.csv')

,State,1790,1800,1810,1820,1830,1840,1850,1860,1870,...,1930,1940,1950,1960,1970,1980,1990,2000,2010,2019
0,Alabama,NaN,NaN,9046.0,127901.0,309527.0,590756.0,771623.0,964201.0,996992.0,...,2646248.0,2832961.0,3060000.0,3273000.0,3444165.0,3893888.0,4040587.0,4447100.0,4779736.0,4903185.0
1,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59278.0,72524.0,138000.0,200000.0,302173.0,401851.0,550043.0,626932.0,710231.0,731545.0
2,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55641.0
3,Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9658.0,...,435573.0,499261.0,756000.0,1318000.0,1772482.0,2718215.0,3665228.0,5130632.0,6392017.0,7278717.0
4,Arkansas,NaN,NaN,1062.0,14273.0,30388.0,97574.0,209897.0,435450.0,484471.0,...,1854482.0,1949387.0,1906000.0,1788000.0,1923295.0,2286435.0,2350725.0,2673400.0,2915918.0,3017825.0
5,California,NaN,NaN,NaN,NaN,NaN,NaN,92597.0,379994.0,560247.0,...,5677251.0,6907387.0,10586223.0,2085000.0,19953134.0,23667902.0,29760021.0,33871648.0,37253956.0,39512223.0
6,Colorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34277.0,39864.0,...,1035791.0,1123296.0,1337000.0,1758000.0,2207259.0,2889964.0,3294394.0,4301261.0,5029196.0,5758736.0
7,Connecticut,237946.0,251002.0,262042.0,275202.0,297675.0,309978.0,370792.0,460147.0,537454.0,...,1606903.0,1709242.0,2007280.0,2548000.0,3032217.0,3107576.0,3287116.0,3405565.0,3574097.0,3565287.0
8,Contiguous United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325386357.0
9,Delaware,59094.0,64273.0,72674.0,72749.0,76748.0,78085.0,91532.0,112216.0,125015.0,...,238380.0,266505.0,321000.0,449000.0,548104.0,594338.0,666168.0,783600.0,897934.0,973764.0
10,District of Columbia,NaN,323297.0,15471.0,23336.0,30261.0,33745.0,51687.0,75080.0,131700.0,...,486869.0,663091.0,814000.0,762000.0,756510.0,638333.0,606900.0,572059.0,601723.0,705749.0
11,Fifty states + D.C.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,328239523.0
12,Florida,NaN,NaN,NaN,NaN,34730.0,54477.0,87445.0,140424.0,187748.0,...,1468211.0,1897414.0,2821000.0,4951560.0,6789443.0,9746324.0,12937926.0,15982378.0,18801310.0,21477737.0
13,Georgia,82548.0,162686.0,251407.0,340989.0,516823.0,691392.0,906185.0,1057286.0,1184109.0,...,2908506.0,3123723.0,3451000.0,3949000.0,4589575.0,5463105.0,6478216.0,8186453.0,9687653.0,10617423.0
14,Guam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165718.0
15,Hawaii,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,368336.0,423330.0,491000.0,642000.0,769913.0,964691.0,1108229.0,1211537.0,1360301.0,1415872.0
16,Idaho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14999.0,...,445032.0,524873.0,592000.0,671000.0,713008.0,943935.0,1006749.0,1293953.0,1567582.0,1792065.0
17,Illinois,NaN,NaN,12282.0,55211.0,157445.0,476183.0,851470.0,1711951.0,2539891.0,...,7630654.0,7897241.0,8712176.0,101130.0,11113976.0,11426518.0,11430602.0,12419293.0,12830632.0,12671821.0
18,Indiana,NaN,5641.0,24520.0,147178.0,343031.0,685866.0,988416.0,1350428.0,1680637.0,...,3238503.0,3427796.0,3952000.0,4677000.0,5193669.0,5490224.0,5544159.0,6080485.0,6483802.0,6732219.0
19,Iowa,NaN,NaN,NaN,NaN,NaN,43112.0,192214.0,674913.0,1194020.0,...,2470939.0,2538268.0,2621000.0,2761000.0,2825041.0,2913808.0,2776755.0,2926324.0,3046355.0,3155070.0
20,Kansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107206.0,364399.0,...,1880999.0,1801028.0,1915000.0,2178000.0,2249071.0,2363679.0,2477574.0,2688418.0,2853118.0,2913314.0
21,Kentucky,73677.0,220959.0,406511.0,564317.0,687917.0,779828.0,982405.0,1155684.0,1321011.0,...,2614589.0,2845627.0,2957000.0,3047000.0,3219311.0,3660777.0,3685296.0,4041769.0,4339367.0,4467673.0
22,Louisiana,NaN,NaN,76556.0,153407.0,215739.0,352411.0,517762.0,708002.0,726915.0,...,2101593.0,2363880.0,2701000.0,3270000.0,3643180.0,4205900.0,4219973.0,4468976.0,4533372.0,4648794.0
23,Maine,96540.0,151719.0,228705.0,298335.0,399455.0,501793.0,583169.0,628279.0,626915.0,...,797423.0,847226.0,911000.0,974000.0,993663.0,1124660.0,1227928.0,1274923.0,1328361.0,1344212.0
24,Maryland,319728.0,4276.0,380546.0,407350.0,447040.0,470019.0,583034.0,687049.0,780894.0,...,1631526.0,1821244.0,2376000.0,3116000.0,3922399.0,4216975.0,4781468.0,5296486.0,5773552.0,6045680.0
25,Massachusetts,3787878.0,422845.0,472040.0,523287.0,610408.0,737699.0,994514.0,1231066.0,1457351.0,...,4249614.0,4316721.0,4690000.0,5167000.0,5689170.0,5737037.0,6016425.0,6349097.0,6547629.0,6949503.0
26,Michigan,NaN,NaN,4762.0,7452.0,28004.0,212267.0,397654.0,749113.0,1184059.0,...,4842325.0,5256106.0,6421000.0,7848000.0,8875083.0,9262078.0,9295297.0,9938444.0,9883640.0,9986857.0
27,Minnesota,NaN,NaN,NaN,NaN,NaN,NaN,6077.0,172023.0,439706.0,...,2563953.0,2792300.0,2995000.0,3426000.0,3805069.0,4075970.0,4375099.0,4919479.0,5303925.0,5639632.0
28,Mississippi,NaN,8850.0,31306.0,75448.0,136621.0,375651.0,606526.0,791305.0,827922.0,...,2009821.0,2183796.0,2169000.0,2180000.0,2216912.0,2520638.0,2573216.0,2844658.0,2967297.0,2976149.0
29,Missouri,NaN,NaN,19783.0,66586.0,140455.0,383702.0,682044.0,1182012.0,1721295.0,...,3629367.0,3784664.0,3946000.0,4331000.0,4677399.0,4916686.0,5117073.0,5595211.0,5988927.0,6137428.0
30,Montana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20595.0,...,537606.0,559456.0,598000.0,678000.0,694409.0,786690.0,799065.0,902195.0,989415.0,1068778.0
31,Nebraska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28841.0,122993.0,...,1377963.0,1315834.0,1324000.0,1414000.0,1483791.0,1569825.0,1578385.0,1711263.0,1826341.0,1934408.0
32,Nevada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6848.0,42491.0,...,91058.0,110247.0,162000.0,280000.0,488738.0,800493.0,1201833.0,1998257.0,2700551.0,3080156.0
33,New Hampshire,141885.0,183858.0,214360.0,244161.0,269328.0,284574.0,317976.0,326064.0,318300.0,...,465293.0,491524.0,531000.0,609000.0,737681.0,920610.0,1109252.0,1235786.0,1316470.0,1359711.0
34,New Jersey,184139.0,211149.0,245555.0,277575.0,320823.0,373306.0,489555.0,672035.0,906096.0,...,4041334.0,4160165.0,4860000.0,6099000.0,7168164.0,7364823.0,7730188.0,8414350.0,8791894.0,8882190.0
35,New Mexico,NaN,NaN,NaN,NaN,NaN,NaN,61547.0,93514.0,91874.0,...,423317.0,531818.0,687000.0,958000.0,1016000.0,1302894.0,1515069.0,1819046.0,2059179.0,2096829.0
36,New York,340120.0,586050.0,959049.0,1532981.0,1918608.0,2428921.0,3097394.0,3880735.0,4382759.0,...,12588066.0,13479142.0,14830192.0,16827000.0,18241266.0,17558072.0,17990455.0,18976457.0,19378102.0,19453561.0
37,North Carolina,393751.0,478103.0,556526.0,638829.0,737987.0,753419.0,869039.0,992622.0,1071361.0,...,3170276.0,3571623.0,4060000.0,4563000.0,5082059.0,5881766.0,6628637.0,8049313.0,9535483.0,10488084.0
38,North Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2405.0,...,680845.0,641935.0,616000.0,634000.0,617761.0,652717.0,638800.0,642200.0,672591.0,762062.0
39,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55194.0
40,Ohio,NaN,NaN,230760.0,581434.0,937903.0,1519467.0,1980329.0,2339511.0,2665260.0,...,6646697.0,6907612.0,7946627.0,9739000.0,10652017.0,10797630.0,10847115.0,11353140.0,11536504.0,11689100.0
41,Oklahoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2396040.0,2336434.0,2193000.0,2333000.0,2559253.0,3025290.0,3145585.0,3450654.0,3751351.0,3956971.0
42,Oregon,NaN,NaN,NaN,NaN,NaN,NaN,12093.0,52465.0,90923.0,...,953786.0,1089684.0,1532000.0,1773000.0,2091385.0,2633105.0,2842321.0,3421399.0,3831074.0,4217737.0
43,Pennsylvania,434373.0,602545.0,810091.0,1049458.0,1348233.0,1724033.0,2311786.0,2906215.0,3521951.0,...,9631350.0,9900180.0,10498012.0,11343000.0,11793909.0,11863895.0,11881643.0,12281054.0,12702379.0,12801989.0
44,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3193694.0
45,Rhode Island,68825.0,69122.0,76931.0,83059.0,97199.0,108830.0,147545.0,174620.0,217353.0,...,687497.0,713346.0,779000.0,857000.0,949723.0,947154.0,1003464.0,1048319.0,1052567.0,1059361.0
46,South Carolina,249073.0,345591.0,415115.0,502741.0,581185.0,594398.0,668507.0,703708.0,705606.0,...,1738765.0,1899804.0,2119000.0,2392000.0,2590516.0,3121820.0,3486703.0,4012012.0,4625364.0,5148714.0
47,South Dakota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11776.0,...,692849.0,642961.0,652000.0,682000.0,666257.0,690768.0,696004.0,754844.0,814180.0,884659.0
48,Tennessee,NaN,NaN,261727.0,422813.0,681904.0,829210.0,1002717.0,1109801.0,1258520.0,...,2616556.0,2915841.0,3304000.0,3573000.0,3924164.0,4591120.0,4877185.0,5689283.0,6346105.0,6833174.0
49,Texas,NaN,NaN,NaN,NaN,NaN,NaN,212592.0,604215.0,818579.0,...,5824715.0,6414824.0,7748000.0,9617000.0,11196730.0,14229191.0,16986510.0,20851820.0,25145561.0,28995881.0
50,The fifty states,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327533795.0
51,Total U.S. (including D.C. and territories),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,331814684.0
52,U.S. Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104914.0
53,Utah,NaN,NaN,NaN,NaN,NaN,NaN,11380.0,40273.0,86336.0,...,507847.0,550310.0,696000.0,896000.0,1059273.0,1461037.0,1722850.0,2233169.0,2763885.0,3205958.0
54,Vermont,85539.0,154465.0,217713.0,235764.0,280652.0,291948.0,314120.0,315098.0,330551.0,...,359611.0,359231.0,377000.0,391000.0,444732.0,511456.0,562758.0,608827.0,625741.0,623989.0
55,Virginia,7476108.0,880200.0,877683.0,938261.0,1044054.0,1025227.0,1119348.0,1596318.0,1225163.0,...,2421851.0,2677773.0,3262000.0,3978000.0,4648494.0,5346818.0,6187358.0,7078515.0,8001024.0,8535519.0
56,Washington,NaN,NaN,NaN,NaN,NaN,NaN,1201.0,11594.0,23955.0,...,1563396.0,1736191.0,2386000.0,2860000.0,3409169.0,4132156.0,4866692.0,5894121.0,6724540.0,7614893.0
57,West Virginia,NaN,NaN,105469.0,136808.0,176924.0,224537.0,302313.0,372163.5,442014.0,...,1729205.0,1961974.0,2006000.0,1857000.0,1744237.0,1949644.0,1793477.0,1808344.0,1852994.0,1787147.0
58,Wisconsin,NaN,NaN,NaN,1444.0,3635.0,30945.0,305391.0,775881.0,1054670.0,...,2939006.0,3137587.0,3449000.0,3964000.0,4417933.0,4705767.0,4891769.0,5363675.0,5686986.0,5822434.0
59,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9118.0,...,225565.0,250742.0,292000.0,338000.0,332416.0,469557.0,453588.0,493782.0,563626.0,578759.0

## See Visualization of this data https://public.flourish.studio/visualisation/1488228/